@font-face {
    font-family: "Main-Font";
    font-weight: 300;
    src: url('../src/font/NotoSansCJKkr-Regular.otf');
}

* {
    font-family: Main-Font;
}

body {
    margin: 0;
    cursor: default;
    background-color: white;
    min-width: 1440px;
}

input {
    outline: none;
}

button {
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}